<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData[ViewKey.Title] | @Defaults.ApplicationName</title>
        <script type="importmap"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body class="bg-dark text-light">
        <header>
            <vc:navigation />
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="footer mt-4">
            <div class="container mt-4">
                <span class="float-end text-end">
                    Built with<br />
                    <a href="https://github.com/dotnet-ninja/Garage" target="_blank">
                        <i class="inline-icon bi bi-github"></i> DotNetNinja's Garage
                    </a><br/>
                    <span>v0.1.0-alpha</span><br />
                </span>
            <span>&copy; <year /> DotNetNinja. All rights reserved.</span>
            </div>
        </footer>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>